<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Account Details</title>
</head>
<body>
    <h1 th:if="${accountName}" th:text="'Account: ' + ${accountName}">Account Details</h1>
	<h1 th:unless="${accountName}">Create New Bank Account</h1>
<form th:action="@{/users/{userId}/accounts/{accountId}(userId=${userId}, accountId=${account.accountId})}" method="post">
    <div>
        <label for="accountName">Account Name:</label>
        <input type="text" id="accountName" th:value="${account.accountName}" name="accountName" />
    </div>
    <div>
        <button type="submit">Save Account</button>
    </div>
    <hr />
</form>
	<a th:href="@{/users/{userId}(userId=${userId})}">Back</a>
</body>
</html>